*
{
    margin:0;
    padding: 0;
    font-family: sans-serif !important;
}

.body 
{
	background-color: #2F3F49;
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    max-height: 100vh;

	
}


a img {
  border: 0;
}



/*input:focus {
    border: 5px solid #633C28;
    padding: 12px 20px;
    border-bottom: 7px solid #633C28;
    border-radius: 4px;
    color: #333333;
    outline:  none;
}*/

input[type=submit]{
    background-color: #A16B33;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	padding: 12px 20px;
    margin: 8px 10px;
    font-size: 1.5em;
    font-weight: bold;

}

label {
    cursor: default;
    font-size: 1.5em;
}

.messages
{
    color: white;
    font-family: sans-serif;
    font-size: 1.3em;
}

.author
{
    font-weight: bold;
    margin: 5px;
    padding: 5px;

}

.message
{
    background-color: #3C85A2;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
}

.template
{
            display: none;
}

#messagesContainer
{
    flex: 1 1 auto;
    overflow: auto;
    width: 50%;
}

#messageForm
{
    width: 75%;
    display: flex;
}

input[type="text"]
{
    flex: 1 1 auto;
    padding: 12px 20px;
    margin: 8px 10px;
    border: none;
    border-bottom: 5px solid #3378AE;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    font-family:Verdana;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.loginBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2F3F49;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #d0dae0;
    text-align: center;
}

.loginBox.hidden
{
    display: none;
}

.loginBox p
{
    margin-bottom: 10%;
}